{% load sirt %}
<fieldset class="module aligned {{ fieldset.classes }}">
    <div class="card" style="box-shadow: none;">
        {% if fieldset.name %}
        <div class="card-header">
            {{ fieldset.name }}
             {% if fieldset.description %}
                <div class="description">{{ fieldset.description|safe }}</div>
            {% endif %}
        </div>
        {% endif %}

        <div class="card-body">
            {% for line in fieldset %}
                <div class="form-row{% if line.fields|length_is:'1' and line.errors %} errors{% endif %}{% if not line.has_visible_field %} hidden{% endif %}{% for field in line %}{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% endfor %}">
                    {% if line.fields|length_is:'1' %}
                    {{ line.errors }}
                    {% endif %}
                    {% for field in line %}
                    <!-- <div class="form-group row"> -->
                        <!-- <div{% if not line.fields|length_is:'1' %} class="fieldBox{% if field.field.name %} field-{{ field.field.name }}{% endif %}{% if not field.is_readonly and field.errors %} errors{% endif %}{% if field.field.is_hidden %} hidden{% endif %}"{% elif field.is_checkbox %} class="checkbox-row"{% endif %}> -->
                            {% if not line.fields|length_is:'1' and not field.is_readonly %}{{ field.errors }}{% endif %}
                            {% if field.is_checkbox %}
                                <label class="col-sm-2 col-form-label">{{ field.label_tag }}</label>
                                <div class="col-sm-10">
                                    {{ field.field|field_add_attr }}
                                </div>
                                
                            {% else %}
                                <label class="col-sm-2 col-form-label">{{ field.label_tag }}</label>
                                <div class="col-sm-10">
                                   {% if field.is_readonly %}
                                        <div class="readonly">{{ field.contents }}</div>
                                    {% else %}
                                        {{ field.field|field_add_attr }}
                                    {% endif %}
                                </div>
                                
                                
                            {% endif %}
                            {% if field.field.help_text %}
                                </br>
                                <div class="help mt-2">{{ field.field.help_text|safe|title }}</div>
                               
                            {% endif %}
                        <!-- </div> -->
                    <!-- </div> -->
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>
    
   
    
</fieldset>
