
<!DOCTYPE html>
{% load static i18n %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>{% block title %}{{title}}{% endblock %}</title>
  
  {% block extrahead %}{% endblock %}
  {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
  <!-- General CSS Files -->
  <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css'%}">
  <link rel="stylesheet" href="{% static 'node_modules/@fortawesome/fontawesome-free/css/all.min.css'%}">

  <!-- CSS Libraries -->

  <!-- Template CSS -->
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/components.css' %}">


  <!-- Library -->
  <link rel="stylesheet" type="text/css" href="{% static 'lib/select2/select2.min.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/select2/select2-bootstrap4.css'%}">
  <link rel="stylesheet" type="text/css" href="{% static 'lib/flatpickr/flatpickr.min.css'%}">


  {% block extrastyle %}{% endblock %}
  <style type="text/css">
    body{
      background-color: #ECEFF1 !important;
    }

    .besar{
      font-size: 3rem !important;
    }
  </style>

</head>

<body class="layout-2">
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <a href="{% url 'admin:index'%}" class="navbar-brand sidebar-gone-hide">SIMRT</a>
        <a href="{% url 'admin:index'%}" class="nav-link sidebar-gone-show" data-toggle="sidebar"><i class="fas fa-bars"></i></a>
        
        <form class="form-inline ml-auto" method="GET"  action="{% url 'admin:kependudukan_warga_changelist'%}">
          <ul class="navbar-nav">
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
          </ul>
          <div class="search-element">
            <!-- <form > -->
                <input class="form-control" type="search" placeholder="Cari Warga" aria-label="Search" data-width="250" name="q">
              <button class="btn" type="submit"><i class="fas fa-search"></i></button>
              <div class="search-backdrop"></div>
            <!-- </form> -->
            
          </div>
        </form>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
            <img alt="image" src="{%static 'img/default.png'%}" class="rounded-circle mr-1">
            <div class="d-sm-none d-lg-inline-block">Hi, {{request.user.get_full_name}}</div></a>
            <div class="dropdown-menu dropdown-menu-right">
              
              <a href="{% url 'admin:logout'%}" class="dropdown-item has-icon text-danger">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-sidebar">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand sidebar-gone-show"><a href="{% url 'admin:index'%}">SIMRT</a></div>
            <ul class="sidebar-menu">
            <li class="menu-header">List Menu</li>
            <li><a class="nav-link" href="{% url 'admin:index'%}"><i class="fas fa-fire"></i> <span>Beranda</span></a></li>
            <li><a class="nav-link" href="{% url 'admin:kependudukan_suratpengantar_add'%}"><i class="far fa-eye"></i> <span>Tambah Surat Pengantar</span></a></li>
            <li class="menu-header">Kependudukan</li>
            <li><a class="nav-link" href="{% url 'admin:kependudukan_warga_changelist'%}"><i class="far fa-user"></i> <span>Warga</span></a></li>
            <li><a class="nav-link" href="{% url 'admin:kependudukan_wargasementara_changelist'%}"><i class="far fa-address-card"></i> <span>Warga Sementara</span></a></li>
            <li><a class="nav-link" href="{% url 'admin:kependudukan_suratpengantar_changelist'%}"><i class="far fa-envelope"></i> <span>Surat Pengantar</span></a></li>
            <li class="menu-header">Administrator</li>
            <li><a class="nav-link" href="{% url 'admin:accounts_account_changelist'%}"><i class="fas fa-user"></i> <span>User Admin</span></a></li>
            <li class="menu-header">Setting</li>
            <li><a class="nav-link" href="{% url 'admin:master_konfigurasisistem_changelist'%}"><i class="fas fa-cogs"></i> <span>Konfigurasi Sistem</span></a></li>
            
          </ul>

          
        </aside>
      </div>

      <!-- Main Content -->
      <div class="main-content">
        <section class="section">
          <div class="section-header">
            <h1>{% block app_title %}{% endblock %}</h1>
            {% if not is_popup %}
              {% block breadcrumbs %}
              
              {% endblock %}
            {% endif %}
          </div>
          <div class="section-body">
            {% block messages %}
                {% if messages %}
                <ul class="messagelist alert alert-warning" style="list-style-type: none;">{% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                {% endfor %}
                </ul>
                {% endif %}
            {% endblock messages %}

            {% block content %}
            {% endblock %}
          </div>
        </section>
      </div>
      <footer class="main-footer">
        <div class="footer-left">
           {% comment %} Copyright &copy; 2019 SIMRT <div class="bullet"></div> Design By <a href="https://github.com/BayuWardani">Bayu Wardani</a> {% endcomment %}
          
        </div>
        <div class="footer-right">
          Copyright &copy; 2018 Template <div class="bullet"></div> Design By <a href="https://nauval.in/">Muhamad Nauval Azhar</a>
        </div>
      </footer>
    </div>
  </div>

  <!-- General JS Scripts -->
  <script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'node_modules/popper.js/dist/umd/popper.min.js' %}"></script>
  <script src="{% static 'node_modules/tooltip.js/dist/umd/tooltip.min.js' %}"></script>
  <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'node_modules/nicescroll/dist/jquery.nicescroll.min.js' %}"></script>
  <script src="{% static 'node_modules/moment/min/moment.min.js' %}"></script>
  <script src="{% static 'assets/js/stisla.js' %}"></script>

  <!-- JS Libraies -->
  <script src="{% static 'node_modules/sticky-kit/dist/sticky-kit.min.js' %}"></script>

  <!-- Page Specific JS File -->

  <!-- Template JS File -->
  <script src="{% static 'assets/js/scripts.js' %}"></script>
  <script src="{% static 'assets/js/custom.js' %}"></script>

  <!-- LibraryJS -->
  <script type="text/javascript" src="{% static 'lib/select2/select2.min.js'%}"></script>
  <script type="text/javascript" src="{% static 'lib/flatpickr/flatpickr.min.js'%}"></script>
  {% block extrajs %}
  {% endblock %}
</body>
</html>
