{% load i18n admin_urls %}
{% block object-tools-items %}
<li class="float-right">
    {% url opts|admin_urlname:'history' original.pk|admin_urlquote as history_url %}
    <a class="btn btn-sm btn-primary" href="{% add_preserved_filters history_url %}" class="historylink">{% trans "History" %}</a>
</li>
{% if has_absolute_url %}<li><a href="{{ absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
{% endblock %}