{% load i18n admin_urls %}

{% block object-tools-items %}
  <div class="float-right">
  {% if has_add_permission %}
  <!-- <li> -->
    {% url cl.opts|admin_urlname:'add' as add_url %}
    <a href="{% add_preserved_filters add_url is_popup to_field %}" class="addlink btn btn-primary ">
      {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
    </a>
  <!-- </li> -->
  {% endif %}
</div>
{% endblock %}