{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list sirt %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
  {% if cl.formset %}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
  {% endif %}
  {% if cl.formset or action_form %}
    <script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
  {% endif %}
  {{ media.css }}
  {% if not actions_on_top and not actions_on_bottom %}
    <style>
      #changelist table thead th:first-child {width: inherit}
    </style>
  {% endif %}
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media.js }}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% block app_title %}
{{ cl.opts.app_config.verbose_name }}

{% endblock %}

{% block coltype %}flex{% endblock %}

{% block breadcrumbs %}
<div class="section-header-breadcrumb">
  <div class="breadcrumb-item active"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></div>
  <div class="breadcrumb-item"><a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a></div>
  <div class="breadcrumb-item">{{ cl.opts.verbose_name_plural|capfirst }}</div>
</div>
{% endblock %}

{% block content %}
  {% if cl.formset.errors %}
      <p class="alert alert-warning errornote">
      {% if cl.formset.total_error_count == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
      </p>
      {{ cl.formset.non_form_errors }}
  {% endif %}

  {% block search %}
  <div class="card">
    <div class="card-body">
      {% search_form cl %}
      {% block filters %}
        {% if cl.has_filters %}
          <div id="" class="row">
            {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
          </div>
        {% endif %}
      {% endblock %}
    </div>

  </div>
  {% endblock %}

  <div class="card">
    <div class="card-header">
      <!-- <h4>Example Card</h4> -->
      {% block object-tools %}
            {% block object-tools-items %}
              {% change_list_object_tools %}
            {% endblock %}
          
      {% endblock %}
    </div>
    <div class="card-body">
       <form id="changelist-form" method="post"{% if cl.formset.is_multipart %} enctype="multipart/form-data"{% endif %} novalidate>{% csrf_token %}
      {% if cl.formset %}
        <div>{{ cl.formset.management_form }}</div>
      {% endif %}

      {% block result_list %}
          {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
          {% result_list cl %}
          {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
      {% endblock %}
      </form>
      
      {% block pagination %}{% pagination cl %}{% endblock %}
    </div>
    <!-- <div class="card-footer bg-whitesmoke">
     
    </div> -->
  </div>
  
{% endblock %}

{% block extrajs %}
{{block.super}}
<script type="text/javascript">
  
  const CommandRedirect = async(ini) => {
    var elm = $(ini)
    var url = elm.data('url')
    // elm.html("<i class='fa fa-spin fa-spinner'></i>").attr('disabled','disabled')
    window.open(url,'_blank',false)
    // elem.html("<i class='fa fa-print'></i> Cetak").removeAttr('disabled')
  }

</script>
{% endblock %}